.fixture-cards {
    display: grid;
    grid-template-columns: repeat(3, 312px);
    justify-content: center;
    column-gap: 17px;
    row-gap: 24px;
}

.container {
    width: 312px;
    /* background-color: lightgrey; */
    border-radius: 10px;
    border: 2px solid lightgray;
}

.flex {
    display: flex;
}

.sameRow {
    height: 120px;
    width: 100%;
}

.normal {
    height: 40px;
}

.flex-align-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
}

.flex-align-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
}

.flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixture-card-content-text {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    color: #161616;
}

.fixture-card-content-date {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}


@media screen and (min-width: 577px) and (max-width: 992px) {
    .fixture-cards {
        padding-left: 30px;
        padding-right: 30px;
        grid-template-columns: repeat(2, 312px);
        column-gap: 20px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 576px) {
    .fixture-cards {
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: 312px;
        row-gap: 16px;
    }
}