/* texts on header left  */
.header-container {
    border-radius: 16px;
    border: 2px solid gray;
    display: flex;
    margin: auto;
    max-width: 1321px;
    height: 646px;
    background-color: black;
    justify-content: center;
    margin-bottom: 5%;
}

.header-text-section {
    width: 50%;
    display: flex;
    align-items: center;
}

.header-text-container {
    /* border: 1px solid red; */
    max-width: 531px;
    max-height: 424px;
    padding-left: 8%;
    /* padding-right: 1%; */
    padding-top: 8%;
    padding-bottom: 8%;
}

.header-text-headline {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    /* height: 160px; */
    overflow: hidden;
}

.header-text-normal {
    color: whitesmoke;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    max-height: 52px;
    padding-top: 20px;
    /* white-space: nowrap; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.button-container {
    padding-top: 10%;
    height: 50px;
}

.watch-button {
    background-color: #DD0000;
    padding: 15px 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

/* button animation start */
.watch-button:hover {
    /* animation: watchnow 4s linear 0.2s infinite both both; */
    animation-name: watchnow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes watchnow {
    0% {
        background-color: red;
    }

    25% {
        background-color: salmon;
    }

    50% {
        background-color: blueviolet;
    }

    100% {
        background-color: green;
    }
}


/* top image on header right  */
.header-image-container {
    border: 1px solid red;
    display: flex;
    width: 50%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* animation: :hover */
.header-container:hover {
    cursor: url(assets/favicon.png), auto;
}

/* Tablet device stysheet verrides */

@media screen and (min-width: 577px) and (max-width: 992px) {

    .header-container {
        max-width: 734px;
        height: 398px;
    }

    .header-text-section {}

    .header-text-container {
        max-width: 316px;
        max-height: 276px;
        /* padding: 61px 0px 61px 76px; */

    }

    .header-text-headline {

        font-size: 40px;
        line-height: 50px;
        /* max-height: 240px; */
        height: 100px;
    }

    .header-text-normal {
        font-size: 14px;
        line-height: 24px;
        max-height: 65px;
    }

    .watch-button {
        padding: 10px 30px;
        font-size: 15px;
    }
}

/* Mobile device stysheet moverrides */

@media screen and (max-width: 576px) {

    .header-container {
        /* display: flex; */
        flex-direction: column;
        max-width: 334px;
        height: 472px;
        background-color: black;
        border-radius: 16px;
        margin: auto;
    }

    .header-text-section {
        height: 50%;
        padding: 0%;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .header-text-container {
        max-width: 228px;
        /* max-height: 66px; */
        padding: 1% 1%;
    }

    .header-text-headline {
        color: whitesmoke;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        padding-top: 8%;
    }

    .header-text-normal {
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        max-height: 48px;
        /* max-width: 150px; */
        text-align: center;
        padding-top: 8%;
        overflow: hidden;
        /* white-space: nowrap; */
        text-overflow: ellipsis;
    }

    .button-container {
        padding-top: 8%;
        height: 36px;
        display: flex;
        justify-content: center;
    }

    .watch-button {
        padding: 10px 24px;
        font-size: 14px;
    }

    .header-image-container {
        height: 50%;
        width: 100%;
        justify-content: center;
    }
}